{minimum_otp_vsn, "22.3"}.

{erl_opts, [warnings_as_errors]}.

{cover_excl_mods,
  [testutil,
    basic_SUITE, fold_SUITE, mockvnode_SUITE, mock_kv_vnode]}.

{profiles,
 [{eqc, [{deps, [meck, fqc]},
    {erl_opts, [debug_info,  {d, 'EQC'}]},
    {extra_src_dirs, ["test/end_to_end", "test/property"]},
    {plugins, [rebar_eqc]}
   ]},
  {test, [{extra_src_dirs, ["test/end_to_end", "test/property"]}
   ]}
 ]}.

 {xref_checks,
 [undefined_function_calls, undefined_functions, locals_not_used]}.

{ct_opts, [{dir, ["test/end_to_end"]}]}.

{deps, [
        {leveled, ".*", {git, "https://github.com/nhs-riak/leveled", {branch, "nhse-develop"}}}
        ]}.
