{erl_opts, [warnings_as_errors,
	    {platform_define, "^2[0-3]{1}", fsm_deprecated},
            {platform_define, "^1[7-8]{1}", old_rand},
            {platform_define, "^R", old_rand},
            {platform_define, "^R", no_sync}]}.

{eunit_opts, [verbose]}.

{profiles,
 [{eqc, [{deps, [meck, fqc]},
    {erl_opts, [debug_info,  {d, 'EQC'}]},
    {extra_src_dirs, ["test/end_to_end", "test/property"]},
    {plugins, [rebar_eqc]}
   ]},
  {test, [{extra_src_dirs, ["test/end_to_end", "test/property"]}
   ]}
 ]}.

{xref_checks, [undefined_function_calls,undefined_functions]}.

{deps, [
        {leveled, ".*", {git, "https://github.com/martinsumner/leveled", {tag, "1.0.10"}}}
        ]}.
