{minimum_otp_vsn, "22.3"}.

{erl_opts, [warnings_as_errors]}.

{cover_excl_mods, [
    testutil,
    basic_SUITE,
    fold_SUITE,
    mockvnode_SUITE,
    mock_kv_vnode
]}.

{erlfmt, [
    write,
    {print_width, 80},
    {files, [
        "{src,include}/*.{hrl,erl,app.src}",
        "test/end_to_end/*.erl",
        "rebar.config"
    ]},
    {exclude_files, ["src/erlfmt_parse.erl"]}
]}.

{project_plugins, [
    {eqwalizer_rebar3,
        {git_subdir, "https://github.com/OpenRiak/eqwalizer.git",
            {branch, "openriak-3.4"}, "eqwalizer_rebar3"}},
    {erlfmt, {git, "https://github.com/OpenRiak/erlfmt.git", {branch, "main"}}}
]}.

{profiles, [
    {eqc, [
        {deps, [meck, fqc]},
        {erl_opts, [debug_info, {d, 'EQC'}]},
        {extra_src_dirs, ["test/end_to_end", "test/property"]},
        {plugins, [rebar_eqc]}
    ]},
    {test, [{extra_src_dirs, ["test/end_to_end", "test/property"]}]}
]}.

{xref_checks, [undefined_function_calls, undefined_functions, locals_not_used]}.

{ct_opts, [{dir, ["test/end_to_end"]}]}.

{deps, [
    {leveled,
        {git, "https://github.com/martinsumner/leveled",
            {branch, "develop-3.4"}}},
    {eqwalizer_support,
        {git_subdir, "https://github.com/OpenRiak/eqwalizer.git",
            {branch, "openriak-3.4"}, "eqwalizer_support"}}
]}.
